[submodule "template/themes/ananke"]
	path = template/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "template/themes/mediumish-gohugo-theme"]
	path = template/themes/mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme
